<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Rental</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
    <link th:href="@{/css/main.css}" th:rel="stylesheet">
    <link rel="icon" th:href="@{/images/favicon.ico}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img th:src="@{/images/logo.png}" width="100" height="30" class="d-inline-block align-top" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/web/cars/search}">Rent a car</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/web/cars/search}">Rent a car</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/web/users/login}">Login</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/web/users/register}">Register</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_EMPLOYEE')"  class="nav-item">
                            <a class="nav-link" th:href="@{/web/cars/add}">Rental management</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_EMPLOYEE')"  class="nav-item">
                            <a class="nav-link" th:href="@{/web/cars/add}">Add a car</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item">
                            <a class="nav-link" th:href="@{/#}">Menage panel</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/web/users/account}" style="color: #3366ff;">My account</a>
                        </li>
                        <li class="nav-item d-flex justify-content-end">
                            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}" style="color: red;">Logout</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</header>

    <section class="addCar">
        <form enctype="multipart/form-data" th:action="@{/web/cars/add}" th:object="${addCar}" method="post">
            <div class="container ">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-8 col-md-5">
                        <h3>Add a car</h3>
                        <hr />
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-12 col-sm-8 col-md-5">
                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Rental: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <select th:field="*{carDetails.rentalId}" class="d-inline form-select" aria-label="Default select example">
                                    <option th:value="null" readonly="true" hidden="true">Rental</option>
                                    <option th:attr="value=${rentalItr.id}" th:each="rentalItr : ${rentals}"
                                            th:utext="${rentalItr.getCity()}" />
                                </select>
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">

                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Brand: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{brand}" type="text" style="width: 100%; height: auto;" placeholder="Brand">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('brand')}"
                                   th:errors="*{brand}">
                                    brand error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Model: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{model}" type="text" style="width: 100%; height: auto;" placeholder="Model">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('model')}"
                                   th:errors="*{model}">
                                    model error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Segment: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6 ">
                                <select th:field="*{carDetails.segment}" class="d-inline form-select" aria-label="Default select example">
                                    <option th:value="null" readonly="true" hidden="true">Segment</option>
                                    <option th:value="micro">Micro</option>
                                    <option th:value="sedan">Sedan</option>
                                    <option th:value="hatchback">Hatchback</option>
                                    <option th:value="coupe">Coupe</option>
                                    <option th:value="cabriolet">Cabriolet</option>
                                    <option th:value="roadster">Roadster</option>
                                    <option th:value="limousine">Limousine</option>
                                    <option th:value="sport">Sport</option>
                                    <option th:value="SUV">SUV</option>
                                    <option th:value="VAN">VAN</option>
                                    <option th:value="Minivan">Minivan</option>
                                    <option th:value="Minibus">Minibus</option>
                                    <option th:value="Camper">Camper</option>
                                </select>
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.segment')}"
                                   th:errors="*{carDetails.segment}">
                                    segment error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Registration year: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.registrationYear}" type="number" min="1990" max="2022" step="1"  style="width: 100%; height: auto;" placeholder="Registration year">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.registrationYear')}"
                                   th:errors="*{carDetails.registrationYear}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Color: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.color}" type="text" style="width: 100%; height: auto;" placeholder="Color">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.color')}"
                                   th:errors="*{carDetails.color}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Fuel: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <select th:field="*{carDetails.fuel}" class="d-inline form-select" aria-label="Default select example">
                                    <option th:value="null" readonly="true" hidden="true">Fuel</option>
                                    <option th:value="diesel">Diesel</option>
                                    <option th:value="petrol">Petrol</option>
                                    <option th:value="LPG">LPG</option>
                                    <option th:value="hybrid">Hybrid</option>
                                    <option th:value="electric">Electric</option>
                                </select>
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.fuel')}"
                                   th:errors="*{carDetails.fuel}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Average consumption: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.averageConsumption}" type="text" style="width: 100%; height: auto;" placeholder="e.g. 7.5">
                            </div>
                            <div class="col-8-12 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.averageConsumption')}"
                                   th:errors="*{carDetails.averageConsumption}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Doors: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.doors}" type="text" style="width: 100%; height: auto;" placeholder="Doors amount">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.doors')}"
                                   th:errors="*{carDetails.doors}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Seats: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.seats}" type="text" style="width: 100%; height: auto;" placeholder="Seats amount">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.seats')}"
                                   th:errors="*{carDetails.seats}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Transmission: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <select th:field="*{carDetails.transmission}" class="d-inline form-select" aria-label="Default select example">
                                    <option th:value="null" readonly="true" hidden="true">Transmission</option>
                                    <option th:value="automatic">Automatic</option>
                                    <option th:value="manual">Manual</option>
                                </select>
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.transmission')}"
                                   th:errors="*{carDetails.transmission}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Price per day: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.price}" type="text" style="width: 100%; height: auto;" placeholder="e.g. 120.00">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.price')}"
                                   th:errors="*{carDetails.price}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Registration number: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.registrationNumber}" type="text" style="width: 100%; height: auto;" placeholder="Registration number">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.registrationNumber')}"
                                   th:errors="*{carDetails.registrationNumber}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">VIN: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.vin}" type="text" style="width: 100%; height: auto;" placeholder="VIN">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.vin')}"
                                   th:errors="*{carDetails.vin}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-812 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Mileage: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.mileage}" type="number" style="width: 100%; height: auto;" placeholder="Mileage">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.mileage')}"
                                   th:errors="*{carDetails.mileage}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Inspection by: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.inspection}" type="date" style="width: 100%; height: auto;">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.inspection')}"
                                   th:errors="*{carDetails.inspection}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Insurance by: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input th:field="*{carDetails.insurance}" type="date" style="width: 100%; height: auto;">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('carDetails.insurance')}"
                                   th:errors="*{carDetails.insurance}">
                                    registration error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Car available for rent?: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <select th:field="*{available}" class="d-inline form-select" aria-label="Default select example">
                                    <option th:value="false">No</option>
                                    <option th:value="true">Yes</option>
                                </select>
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p style="color: #FF0000;" th:if="${#fields.hasErrors('global')}"
                                   th:errors="*{global}">
                                    Name Error</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 col-lg-6 d-flex justify-content-center justify-content-lg-start">
                                <h3><span class="badge bg-secondary">Upload car image: </span></h3>
                            </div>
                            <div class="col-8 col-lg-6">
                                <input type="file" name="file"  accept="image/png">
                            </div>
                            <div class="col-8 d-flex justify-content-center justify-content-lg-end">
                                <p>Upload not yet implemented</p>
                            </div>
                        </div>

                        <div class="row d-flex flex-row justify-content-center  ">
                            <div class="col-8 d-flex justify-content-center" style="margin-bottom: 5px;">
                                <button type="submit" class="btn btn-primary btn-lg"
                                        style="width: 100%; height: 100%;">Add car</button>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
            </div>
        </form>
    </section>

    </br>
    </br>



<footer class="footer">
    <div class="container-fluid">
        <a href="https://github.com/s0bieskii/CarRentalv1.1">
            <i class="fa fa-github" style="font-size:36px"></i>
        </a>
        <a>&nbsp;</a>
        <a href="https://www.linkedin.com/in/patryk-chojnacki96/">
            <i class="fa fa-linkedin-square" style="font-size:36px"></i>
        </a>
        <a>&nbsp;</a>
        <a th:href="@{/report-bug}" style="float: right;">
            Report a bug
        </a>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p "
        crossorigin="anonymous "></script>
</body>

</html>