<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Rental</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
    <link th:href="@{/css/main.css}" th:rel="stylesheet">
    <link rel="icon" th:href="@{/images/favicon.ico}">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img th:src="@{/images/logo.png}" width="100" height="30" class="d-inline-block align-top" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/web/cars/search}">Rent a car</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/web/cars/search}">Rent a car</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/web/users/login}">Login</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/web/users/register}">Register</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_EMPLOYEE')"  class="nav-item">
                            <a class="nav-link" th:href="@{/web/cars/add}">Rental management</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_EMPLOYEE')"  class="nav-item">
                            <a class="nav-link" th:href="@{/web/cars/add}">Add a car</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item">
                            <a class="nav-link" th:href="@{/#}">Menage panel</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/web/users/account}" style="color: #3366ff;">My account</a>
                        </li>
                        <li class="nav-item d-flex justify-content-end">
                            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}" style="color: red;">Logout</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</header>

    <section class="content">
        <form th:action="@{'/web/cars/offer/success/' + ${id}}" th:object="${searchCar}" method="post" name="lol">
            <div class="container ">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8">
                        <h3>Rent a car</h3>
                        <hr />
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-5 col-md-4">
                        <div class="d-flex align-items-start">
                            <img th:src="@{${'/images/upload/cars/' + searchCar.id +'.png'}}" width="400" height="auto" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-sm-5 col-md-4">
                        <div class="row">

                            <div class="col-12 d-flex justify-content-start">
                                <h3><span class="badge rounded-pill bg-warning text-dark align-middle">Start</span></h3>
                                <input th:attr="min=${searchCar.getStartLocalDateTimeAsString()}" type="datetime-local"
                                    class="form-control" th:field="*{start}">
                            </div>
                            <div class="col-12 d-flex justify-content-start">
                                <h3><span class="badge rounded-pill bg-warning text-dark align-middle">End</span></h3>
                                <input th:attr="min=${searchCar.getEndLocalDateTimeAsString()}" type="datetime-local"
                                    class="form-control" th:field="*{end}">
                            </div>
                            <div class="col-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-6 col-md-6 d-flex justify-content-start">
                                        <h3>
                                            <span class="float-end badge rounded-pill bg-warning text-dark">Price/day:
                                                <p th:text="${car.getCarDetails().getPrice()+' $'}"></p>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="col-6 col-md-6 d-flex justify-content-start">
                                        <h3>
                                            <span class="float-end badge rounded-pill bg-warning text-dark">Final price:
                                                <p th:if="${price != null }" th:text="${price}+' $'"></p>
                                                <p th:if="${price == null }" th:text="'$'"></p>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-center">
                                        <div class="text-center">
                                            <button type="submit" th:formaction="@{'/web/cars/offer/' + ${id}}" class="btn btn-primary btn-lg">Check price</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-5 col-md-4 justify-content-start">
                        <p style="color: #FF0000;" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
                            Name Error</p>
                    </div>
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-10 col-md-8">
                        <div class="container-center">
                            <div class="row justify-content-md-center">
                                <div class="col-12">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-primary">Rental: </span></h3>
                                        <h3><a class="link-primary" style="text-decoration: none;"
                                                th:href="@{'/web/rentals/' + ${rental.id}}"
                                                th:text="${rental.city + ' ' + rental.postCode + ', ' + rental.street }" />
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Brand: </span></h3>
                                        <h3 th:text="${car.brand}">brand</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Model: </span></h3>
                                        <h3 th:text="${car.model}">model</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Segment: </span></h3>
                                        <h3 th:text="${car.carDetails.segment}">segment</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Color: </span></h3>
                                        <h3 th:text="${car.carDetails.color}">color</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Fuel: </span></h3>
                                        <h3 th:text="${car.carDetails.fuel}">fuel</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Doors: </span></h3>
                                        <h3 th:text="${car.carDetails.doors}">doors</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Seats: </span></h3>
                                        <h3 th:text="${car.carDetails.seats}">seats</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="d-flex justify-content-start">
                                        <h3><span class="badge bg-secondary">Transmission: </span></h3>
                                        <h3 th:text="${car.carDetails.transmission}">transmission</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center">
                                    <h3>
                                        <div class="text-center my-3">
                                            <button type="submit" class="btn btn-primary btn-lg"
                                                style="width: 100%; height: 90%;">Rent a car</button>
                                        </div>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <br>
    <br>
    <br>


<footer class="footer">
    <div class="container-fluid">
        <a href="https://github.com/s0bieskii/CarRentalv1.1">
            <i class="fa fa-github" style="font-size:36px"></i>
        </a>
        <a>&nbsp;</a>
        <a href="https://www.linkedin.com/in/patryk-chojnacki96/">
            <i class="fa fa-linkedin-square" style="font-size:36px"></i>
        </a>
        <a>&nbsp;</a>
        <a th:href="@{/report-bug}" style="float: right;">
            Report a bug
        </a>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p "
        crossorigin="anonymous "></script>
</body>

</html>

</html>