<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Rental</title>
    <link th:href="@{/css/bootstrap.min.css}" th:rel="stylesheet">
    <link th:href="@{/css/main.css}" th:rel="stylesheet">
    <link rel="icon" th:href="@{/images/favicon.ico}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <img th:src="@{/images/logo.png}" width="100" height="30" class="d-inline-block align-top" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link"
                                    th:href="@{/web/cars/search}">Rent a car</a>
                            </li>
                            <li class="nav-item">
                                <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/web/cars/search}">Rent a
                                    car</a>
                            </li>
                            <li sec:authorize="isAnonymous()" class="nav-item">
                                <a class="nav-link" th:href="@{/web/users/login}">Login</a>
                            </li>
                            <li sec:authorize="isAnonymous()" class="nav-item">
                                <a class="nav-link" th:href="@{/web/users/register}">Register</a>
                            </li>
                            <li sec:authorize="isAnonymous()" class="nav-item">
                                <a class="nav-link" th:href="@{/contact}">Contact</a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                                <a class="nav-link" th:href="@{/contact}">Contact</a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-item">
                                <a class="nav-link" th:href="@{/web/cars/add}">Rental management</a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-item">
                                <a class="nav-link" th:href="@{/web/cars/add}">Add a car</a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                                <a class="nav-link" th:href="@{/#}">Menage panel</a>
                            </li>
                            <li class="nav-item">
                                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/web/users/account}"
                                    style="color: #3366ff;">My account</a>
                            </li>
                            <li class="nav-item d-flex justify-content-end">
                                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}"
                                    style="color: red;">Logout</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="content">
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-sm-6">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-12">
                            <h3>Kaudi A3- Rent nr.#123</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <figure class="d-flex justify-content-center">
                                <img th:src="@{/images/cars/1.png}" width="500 " height="auto " class="img-fluid"
                                    alt=" ">
                            </figure>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-6 col-sm-6 col-md-4 d-flex justify-content-center">
                                <h3><span class="badge rounded-pill bg-primary ">
                                        Start <p>12.12.2021</p>
                                    </span></h3>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 d-flex justify-content-center">
                                <h3><span class="badge rounded-pill bg-primary ">
                                        End <p>12.12.2021</p>
                                    </span></h3>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
                                <h3><span class="badge rounded-pill bg-warning text-dark">
                                        Price <p>1230.00 $</p>
                                    </span></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 justify-content-center">
                                <h3><span class="float-start badge bg-primary">Rental:</span> Poznań, św Marcin 5/13
                                </h3>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Brand:</span><p th:text="${rent.car.brand}"> Brand</p></h3>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Model:</span><p th:text="${rent.car.model}"> Model</p></h3>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Segment:</span><p th:text="${rent.car.carDetails.segment}"> Segment</p></h3>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Color:</span><p th:text="${rent.car.carDetails.color}"> Color</p></h3>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Fuel:</span><p th:text="${rent.car.carDetails.fuel}"> Fuel</p></h3>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Doors:</span><p th:text="${rent.car.carDetails.doors}"> Doors</p></h3>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Seats:</span><p th:text="${rent.car.carDetails.seats}"> Seats</p></h3>
                            </div>
                            <div class='col-12 col-sm-6'>
                                <h3><span class="float-start badge bg-secondary">Transmission:</span><p th:text="${rent.car.carDetails.transmission}"> Transmission</p></h3>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-3 d-flex justify-content-center">
                                <a th:href="@{'/web/users/account/rents'}" class="btn btn-primary btn-lg">Back</a>
                            </div>
                            <div><br></div>
                            <div class="col-3 d-flex justify-content-center">
                                <a  th:href="@{'/web/users/account/rent/delete/' + ${rent.id}}" class="" style="color: red;">Delete rent</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>

    <footer class="footer">
        <div class="container-fluid">
            <a href="https://github.com/s0bieskii/CarRentalv1.1">
                <i class="fa fa-github" style="font-size:36px"></i>
            </a>
            <a>&nbsp;</a>
            <a href="https://www.linkedin.com/in/patryk-chojnacki96/">
                <i class="fa fa-linkedin-square" style="font-size:36px"></i>
            </a>
            <a>&nbsp;</a>
            <a th:href="@{/report-bug}" style="float: right;">
                Report a bug
            </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p "
        crossorigin="anonymous "></script>
</body>

</html>

</html>